---
import Layout from '../layouts/Layout.astro';
import PostSection from "../components/postSection.tsx"

// fetch countries
const API_HOST = import.meta.env.PUBLIC_API_HOST

interface country {
  id: string;
  name: string;
  createdAt: string;
  updatedAt: string;
}

interface location {
  id: string;
  name: string;
  url: string;
  comments: string;
  createdAt: string;
  updatedAt: string;
}

interface tag {
  id: string;
  name: string;
  createdAt: string;
  updatedAt: string;
}

let countries: country[] = []

try {

  const endpoint = API_HOST + "/country/blog"
  const countriesResult = await fetch(endpoint)
  const countriesData = await countriesResult.json()

  if (countriesData.status == "success") {
    countries = countriesData.data.items 
  } if (countriesData.status == "error") {
    console.log(countriesData.error)  
  } 

} catch(err) {
  console.log(err)
}

let locations: location[] = []

try {

  const endpoint = API_HOST + "/location/blog"
  const locationsResult = await fetch(endpoint)
  const locationsData = await locationsResult.json()

  if (locationsData.status == "success") {
    locations = locationsData.data.items 
  } if (locationsData.status == "error") {
    console.log(locationsData.error)  
  } 

} catch(err) {
  console.log(err)
}

let tags: tag[] = []
try {

  const endpoint = API_HOST + "/tag/blog"
  const tagsResult = await fetch(endpoint)
  const tagsData = await tagsResult.json()

  if (tagsData.status == "success") {
    tags = tagsData.data.items 
  } if (tagsData.status == "error") {
    console.log(tagsData.error)  
  } 

} catch(err) {
  console.log(err)
}

---

<Layout title="50 BEERS: Exploring beverages around the world">
  <section class="h-96 w-full flex justify-center items-center flex-col">
    <h1 class="font-title text-5xl md:text-7xl font-normal text-dark p-10">
      50 <span class="text-light bg-dark px-1">BEERS</span>
    </h1> 
    <p class="font-content text-lg md:text-2xl">JUST <span class="line-through">DRINKING</span> WRITING TO LOOK BUSY</p>
  </section>
  <section class="p-7">
    <PostSection 
      countries={countries}
      locations={locations}
      tags={tags}
      client:load 
     /> 
  </section>
</Layout>
