---
import Layout from '../layouts/Layout.astro';
---

<Layout title="50 BEERS: Exploring beverages around the world">
  <section class="h-screen w-full flex justify-center items-center flex-col">
    <h1 class="font-title text-5xl md:text-7xl font-normal text-dark p-10">
      50 <span class="text-light bg-dark px-1">BEERS</span>
    </h1> 
    <p class="font-content text-lg md:text-2xl">JUST <span class="line-through">DRINKING</span> WRITING TO LOOK BUSY</p>
  </section>
</Layout>
