---
import Layout from "../layouts/Layout.astro"
import LoginForm from "../components/loginForm"
---

<Layout title="50 BEERS: Login">
<section class="w-full font-content">
  <div class="w-full flex flex-col gap-10 justify-center items-center p-10 min-h-screen">
    <h1 class="font-title bg-dark text-main px-1 py-4 text-4xl md:text-6xl">LOGIN</h1>
    <LoginForm client:load />
    <p class="text-sm">Don't have an account yet? <a class="font-bold hover:line-through" href="/signup">Sign up</a></p>
  </div>
</section>
</Layout>
