---
import Layout from "../../layouts/Layout.astro"
import SignUpForm from "../../components/signUpForm"
---

<Layout title="50 BEERS: Sign Up">
<section class="w-full font-content">
  <div class="w-full flex flex-col gap-10 justify-center items-center p-10 min-h-screen">
    <h1 class="font-title text-dark text-4xl md:text-6xl">SIGN <span class="bg-dark text-main px-1">UP</span></h1>
    <SignUpForm client:load />
    <p class="text-sm">Do you have already an account? <a class="font-bold hover:line-through" href="/login">Login</a></p>
  </div>
</section>
</Layout>
