---
import { Image } from 'astro:assets';

import Signatures from "../assets/signatures.png"
import SubscriptionForm from '../components/forms/subscriptionForm.tsx';

import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const footerLang = {
  text: t('footer.newsletter.text'),
  placeholder: t('footer.newsletter.placeholder'),
  cta: t('footer.newsletter.cta'),
  invalid: t('footer.newsletter.invalidEmail'),
  required: t('footer.newsletter.required'),
  successResponse: t('footer.newsletter.successResponse'),
  alreadySubscribed: t('footer.newsletter.alreadySubscribed'),
  errorResponse: t('footer.newsletter.errorResponse'),
}
---

<footer class="bg-dark w-full p-12 font-content text-light">
  <h2 class="p-5 font-title text-main text-3xl md:text-5xl text-center">
    50 <span class="bg-main text-dark">BEERS</span>
  </h2>
  <p class="text-center">{t('footer.subtitle.1')} <span class="line-through">{t('footer.subtitle.2')}</span> {t('footer.subtitle.3')}</p>

  <div class="mt-10 w-full flex justify-center">
    <SubscriptionForm lang={footerLang} api={import.meta.env.PUBLIC_API_HOST} client:load/>
  </div>
  <div class="flex justify-center mt-10">
    <Image src={Signatures}  alt="signatures" class="max-w-64 sm:max-w-80" />
  </div>
  <div class="justify-between hidden md:flex mt-16 font-light text-sm">
    <p class="">&copy 2024. 50 BEERS. {t('footer.rights')}</p>
    <p class="">{t('footer.developer')} Spyridon Mihalopoulos A.</p>
  </div>
</footer>
