---
import "@fontsource/anton"
import "@fontsource-variable/roboto-condensed"

import Navbar from "./Navbar.astro"
import Footer from "./Footer.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Join my written journey through the world of beer, wine, whiskey, rum, mead, cider, and more. What began as a diary and ink has turned into a challenge to explore and share my tasting experiences." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content="Join my written journey through the world of beer, wine, whiskey, rum, mead, cider, and more. What began as a diary and ink has turned into a challenge to explore and share my tasting experiences." />
    <!-- meta property="og:image" content="" /-->
		<title>{title}</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
	</head>
	<body>
    <Navbar />
		<slot />
    <Footer />
	</body>
  <style>
  body {
    color: #242424;
    background-color: #FFFDF6;
  }
  </style>
</html>
